* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    margin-right: 30px;
    margin-left: 30px;
    box-shadow: rgb(158, 155, 155);
    border: 1px solid white;

}

.navbar {
    background-color: white;
    width: 100%;
    top: 0%;
    position: fixed;
}

.first-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px rgb(71, 70, 70);
    width: 300px;
    padding: 20px 20px;
    border: 1px solid;
    border-radius: 90px;
    box-shadow: rgb(204, 197, 197);
}

.new-container {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-left: 20px;
    margin-right: 50px;
}

.btn-navbar {
    display: flex;
    justify-content: space-around;
    /* gap: 20px; */
    grid-column-gap: 20px;
    box-shadow: white;
    border-radius: 30px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid rgb(219, 219, 219);
}

.filter-btn {
    display: flex;
    border-radius: 9px;
    align-items: center;
    padding: 10px 15px;
    grid-column-gap: 7px;
    border: 1px solid rgb(219, 219, 219);
    background-color: transparent;
    margin-right: 80px;
}

.filter-icon {
    width: 15px;
    height: 18px;
}

.navlink {
    border-right: 1px solid black;
    margin-right: 2px;
}

.second-layer {
    display: flex;
    width: 100%;
    padding: 20px 0px;
}

.images {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-icons {
    width: 30px;
    height: 40px;
}

.container {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
}

.font {
    width: 300px;
    height: 290px;
    margin: 10px;
    border-radius: 15px;
}

.mySlides p {
    padding-left: 12px;
}

.container-1 {
    display: flex;
    margin-top: 200px;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
    /* font-family: 'Poppins', sans-serif;
    line-height: 1-9; */
}

/* 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

body {
    line-height: 1-5;
    font-family: 'Poppins', sans-serif;
}

.container-f {
    max-width: 1170px;
    background-color: whitesmoke;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    list-style: none;
}

.footer {
    padding-right: 30px;
    padding-left: 30px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    background-color: gray;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 20px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: gray;
    text-decoration: none;
    font-weight: 300;
    color: black;
    display: block;
    transition: all 0.3s ease;
}


.footer-col ul li a:hover {
    color: #ffffff;
    padding-left: 8px;
}

/* responsive */

.footer1 {
    display: flex;
}

.footer2 {
    display: flex;
    justify-content: space-between;
}

@media(max-width:767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media(max-width:574px) {
    .footer-col {
        width: 100%;
    }
}

*/