* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-lg {
    margin-right: 30px;
    margin-left: 30px;
    box-shadow: rgb(158, 155, 155);
    border: 1px solid white;

}

.navbar-lg {
    background-color: white;
    width: 100%;
    top: 0%;
    position: fixed;
}

.first-layer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.love {
    margin-right: 50px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px rgb(71, 70, 70);
    width: 300px;
    padding: 10px 10px;
    border: 1px solid;
    border-radius: 90px;
    box-shadow: rgb(204, 197, 197);
}

.new-container {
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: black;
}

.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-left: 20px;
    margin-right: 50px;
}

.btn-navbar-lg {
    display: flex;
    justify-content: space-around;
    /* gap: 20px; */
    grid-column-gap: 20px;
    box-shadow: white;
    border-radius: 30px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid rgb(219, 219, 219);
}

.filter-btn {
    display: flex;
    border-radius: 9px;
    align-items: center;
    padding: 10px 15px;
    grid-column-gap: 7px;
    border: 1px solid rgb(219, 219, 219);
    background-color: transparent;
    margin-right: 80px;
}

.filter-icon {
    width: 15px;
    height: 18px;
}

.navlink {
    border-right: 1px solid black;
    margin-right: 2px;
}

.second-layer {
    display: flex;
    width: 100%;
    padding: 20px 0px;
}

.images {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.nav-icons {
    width: 30px;
    height: 40px;
}

.container {
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
}

.font {
    width: 300px;
    height: 290px;
    margin: 10px;
    border-radius: 15px;
}

.mySlides p {
    padding-left: 12px;
}

.container-1 {
    display: flex;
    /* margin-top: 200px; */
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
}

.footer {
    position: fixed;
    bottom: 0%;
    margin-top: 40px;
    width: 100%;
    background-color: white;
    padding: 20px 20px;
}

.footer2 {
    display: flex;
}

.main-footer {
    display: flex;
    justify-content: space-between;
}

/* responsive */

@media only screen and (max-width: 743px) {
    .first-layer {
        display: none;
    }

    hr {
        display: none;
    }
}